<ng-container *ngIf="projects.length; else emptyState">
  <section class="project-grid">
    <app-project-card
      *ngFor="let p of projects; trackBy: trackById"
      [project]="p"
      [isAuthenticated]="isAuthenticated"
      [showRestore]="showRestore"
      (edit)="edit.emit($event)"
      (delete)="delete.emit($event)"
      (restore)="restore.emit($event)">
    </app-project-card>
  </section>
</ng-container>

<ng-template #emptyState>
  <div class="empty">
    <p>{{ emptyMessage }}</p>
  </div>
</ng-template>